<div class="search-div">
    <button mat-raised-button (click)="onCreate()" style="margin-right: 13px">
        <mat-icon>add</mat-icon>Create
    </button>
    <mat-form-field class="search-form-field" floatLabel="never" style="width: 50%">
        <input matInput [(ngModel)]="wordSearch" placeholder="Search" autocomplete="off" (keyup)="applyFilter()">
        <button mat-button matSuffix mat-icon-button aria-label="Clear"*ngIf="wordSearch"  (click)="onSearchClear()">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
</div>
<div class="mat-elevation-z8">
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="howTo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>How To</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.howTo}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="platform">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Platform</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.platform}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="commandLine">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Command Line Argument</mat-header-cell>
            <mat-cell *matCellDef="let element">{{element.commandLine}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef></mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
                <button mat-icon-button color="warn" (click)="onDelete(row.id)" ><mat-icon>delete_outline</mat-icon></button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data.
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        <mat-footer-row *matFooterRowDef="['loading']" [hidden]="listData!=null"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [hidden]="!(listData!=null && listData.data.length==0)"></mat-footer-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

