<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Theme Switch</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-button>
      <mat-icon title="Login" (click)="onLogin()">login</mat-icon>
    </button>
    <button mat-button>
      <mat-icon
        title="Toggle light/dark theme"
        (click)="toggleDarkMode()"
        [(ngModel)]="isDarkMode"
        >invert_colors</mat-icon
      >
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div style="margin: 10px">
  <app-commands></app-commands>
</div>
